/* Sujet : Projet de base de données pour des fouilles archéologiques.
 * Auteur : Xavier Muth & Antoine Hars
 * Fichier : style.css
 */

/* ************************************* CSS global pour les pages ************************************* */

html, body, #container {
	height: 100%;
}

body
{
	background: black; /* Couleur du fond. */
	font-family: Verdana, Arial, Helvetica, sans-serif; /* Police du texte. */
	border: 1px solid white;
}

#bodyLogin
{
	width: 1000px; /* Largeur. */
	margin: auto; /* Centrage des éléments dans le body. */
	height: 690px; /* Hauteur. */
}

#headerLogin
{
	margin-top: 0%; /* Distance du haut du bodyLogin. */
	background: blue;
	border: 1px solid black;
	width: 1000px; /* Largeur. */
	height: 100px; /* Hauteur. */
}

#sectionLogin
{
	background: red;
	margin-top: 15%; /* Distance du headerLogin. */
	width: 270px; /* Largeur. */
	border: 1px solid black;
	margin-left: 35%; /* Distance du bord gauche du bodyLogin. */
}
 
#footerLogin
{
	margin-top: 28%; /* Distance du haut du sectionLogin. */
	background: purple;
	border: 1px solid black;
}

/* ************************************* CSS pour la page index.php ************************************* */

.login {
    /* Size and position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;
 
    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}
 
.login h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

.login input[type = text], .login input[type = password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;
 
    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
 
    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.login input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
 
.login input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
 
.login input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login input[type = text]:hover, .login input[type = password]:hover {
    border-color: #333;
}
 
.login input[type = text]:focus, .login input[type = password]:focus, .login input[type = submit]:focus {
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}
 
/* Fallback */
.no-boxshadow .login input[type = text]:focus, .no-boxshadow .login input[type = password]:focus {
    outline: 1px solid white;
}

.login input[type = submit] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;
     
    /* Styles */
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.4), 
        0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;
 
    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}
 
.login input[type = submit]:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
}
 
/* Fallback */
.no-boxshadow .login input[type = submit]:hover {
    background: #594642;
}

.login label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}
 
.login label:hover ~ input {
    border-color: #333;
}
 
.no-placeholder .login label {
    display: block;
}

/* ************************************* CSS pour la page piedPage.php ************************************* */

#content {
	padding-bottom: 3em;
}

#footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
}

/* ************************************* CSS pour la page .php ************************************* */

